html {
    --full-bg: #eeeeeeff;
    --minor-bg: #eeeeee99;
    --minor-bg-percent: -400%;
    --full-bg-percent: 100%;
    background: linear-gradient(to top, var(--minor-bg) var(--minor-bg-percent), var(--full-bg) var(--full-bg-percent)), url("/img/tiletest.svg") , var(--full-bg);
    min-height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 5em;
    width: 40vw;
    margin: auto;
    display: block;

    background-color: white;
    border-radius: 0 0 50px 50px;

    filter: drop-shadow(0px 5px 0px #c1c1c1);
}

header .logo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    height: 3.5em;
    width: 10.5em;
}

header .logo img {
    height: 3.5em;
}

main {
    width: 40vw;
    margin: 2em auto 0;
    display: block;
    background-color: white;
    border-radius: 50px 50px 0 0;

    padding: 1em 2em;
}
footer {
    width: 40vw;
    display: block;
    margin: auto auto 3em;

    text-align: center;
    color: white;
    font-size: small;

    background-color: #696969;
    padding: 0.5em 2.5em;
    border-radius: 0 0 50px 50px;
}